body {
  background-color: lightblue;
}

h1 {
  color: green;
  font-family: helvetica;
}

h2 {
  color: blue;
  font-family: helvetica;
}

h2 {
  text-align: center;
}

p {
  color:blue;
  font-family: helvetica;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: lightblue;
  text-align: center;
  padding: 19px 23px;
  text-decoration: none;
}

li a:hover {
  background-color: #128;
}

.active {
  background-color: red;
}

img {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

#vraag {
  color: #C508C8
}

.tekst {
  color: #D80C0C
}
.memenaam{
  color: #147701
}

.uitleg{
  color: #6F1E1E
}
.andere_kant{
  margin-left: 1000px;
}
#title{
  border:double 50px #b30000;
  border-radius: 900px;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
  margin-left:500px;
  margin-right: 500px
}

.parag{
  margin-left: 50px;
  margin-right: 850px;
}
